name: Pytest with Coverage

on:
  push:
    branches:
      - main      
  pull_request:
    branches:
      - main       
  workflow_dispatch: 

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest coverage

      - name: Run pytest with coverage
        run: |
          coverage run --branch -m pytest
          coverage report --fail-under=100

      - name: Generate coverage HTML
        run: coverage html

      - name: Upload coverage HTML artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-html
          path: htmlcov
